.container{
    
    display: flex;
    max-width: calc(117rem / 4);
    width: 100%;

    align-items: center;
    flex-direction: column;
    position: relative;

    justify-content: center;

 
    @media screen and (max-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;

    }

    h3{
        font-size: 2.1rem;
        margin-bottom: 2.4rem;
        text-transform: uppercase;

    }

    .technologiesWrapper{
        // border: 1px solid green;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-items: flex-start;
        grid-gap: 1rem;
        font-size: 4.2rem;
        // border: 1px solid white;
    
        @media screen and (max-width:768px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
    

        }
        
        
    }


}