.container{
    font-size: 1.6rem;
    margin-right: 5rem;
    padding: .8rem 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--color-grey-dark-1);

    &:hover{
        background-color: var(--color-grey-dark-1);
        color: var(--color-grey-light-1);
    }


}

.active {
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-light-1);
}

