.backgroundDark{
    background-color: var(--color-grey-dark-1);
    color:var(--color-grey-light-1);
    
}
.backgroundLight{
    background-color: var(--color-grey-light-1);
    color:var(--color-grey-dark-1);
    box-shadow: .15rem .15rem 2rem rgba(0,0,0, .15);
}

.navbar {
    width: 100%;
    height: 8rem;
    position: sticky;
    top: 0;
    left: 0;
    
    display: flex;
    z-index: 10;
    align-items: center;
 
    

    .navContainer {
        max-width: 117rem;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logoWrapper {
        a {
            text-decoration: none;
            cursor: pointer;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: 0.5rem;
            color: inherit;

            padding: 1.2rem 3rem;

            span {
                color: var(--color-primary);
            }
        }
    }

    .iconBox{
        display: none;
        transition: all .3 ease;
        color: inherit;
      
        &:hover{
            color: inherit;
          
        }
      
      
        @media screen and (max-width: 768px) {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(-100%, 60%);
          font-size: 2.9rem;
          cursor: pointer;
          color: inherit;
        }
    
    }

    ul{
        display: flex;
        list-style: none;
        li{
            padding: 0.8rem .8rem;
            margin:1rem 1rem;
            &:hover,
            &.active {
                border-bottom: 3px solid var(--color-primary);
            }


            a{
                &:link,
                &:visited{
                    color: inherit;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    /* padding: rem 2rem; */
                    margin: 0 1rem;
                    transition:  all .3s ease;
    
                } 
    
                // &:hover{
                //     color:var(--color-primary);
          
                // }
            }

            
        }
        @media screen and (max-width:768px) {
            display: none;
        }
    }

}
