.container{
    max-width: 117rem;
    width: 100%;
    height: auto;
    // border:1px solid orange; 
    display:flex;
    flex-direction: column;
    margin:2rem auto;
    background-color: var(--color-grey-dark-1);
    color:var(--color-grey-light-1);
    border-radius: 1rem;
    @media screen and (max-width:768px){
        height: auto;

    }

    h2{
        font-size: 3.6rem;
        align-self: center;
        margin: 1rem 0;
    }
    .content{

        display: flex;
        position: relative;
        width: 100%;
        // border:1px solid plum;
        justify-content: space-around;

        // border: 1px solid orange;
        @media screen and (max-width:768px){
            flex-direction: column;
   
        }

    }
  
}