.container{
    max-width: 117rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction:column;
    align-items: center;

    h2{
        font-size: 3.6rem;
        margin-top: 3rem;
    }
    .filterContainer{
        display: flex;
        flex-direction: row;
        padding: .8rem 1.6rem;
        margin: 1.2rem;
    }

    .cardsWrapper{
        padding: 1rem 3rem;
        display: grid;
        width: 100%;

        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
        grid-gap:2rem;
        list-style-type: none;
       

        @media screen and (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap:2rem;
        }
        @media screen and (max-width:600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

