:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;


  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  /* // FONT VARIABLES */
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  --line: 1px solid var(--color-grey-dark-1);
}
// media querry variable
$bp-largest:75rem; // 1200px
$bp-large:68.75rem; // 1100px
$bp-medium:56.25rem; // 900px
$bp-small:37.5rem; // 600px 
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* // 1rem = 10px; */
  font-size: 62.5%;
  @media only screen and (max-width:1200px) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--color-grey-light-1);

}